<article id="<%= dom_id entry %>" class="flex border border-gray-300 bg-white rounded-md shadow overflow-hidden m-3" data-controller="scores" data-scores-id-value="<%=entry.id%>">
  <div class="flex-none text-center bg-gray-100 w-10 pt-4 text-gray-500 font-bold">

    <%= link_to '/', class: 'block', remote: true, 'data-action': 'click->scores#up' do %>
      &uarr;
    <% end %>

    <div data-scores-target="sum">
      <%= entry.score %>
    </div>

    <%= link_to '/', class: 'block', remote: true, 'data-action': 'click->scores#down' do %>
      &darr;
    <% end %>
  </div>

  <div class="flex-auto p-4">
    <div class="text-xs text-gray-500 font-bold">
      <%= entry.created_at %>
    </div>

    <p class="my-5 font-bold">
      <%= entry.title %> <span class="ml-1 border bg-gray-200 rounded-full font-medium text-xs px-2 py-1"><%= entry.tag %></span>
    </p>

    <p class="my-5">
      <%= entry.content %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show", entry, class: "inline-block text-xs mr-2 text-gray-500 font-bold" %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_entry_path(entry), class: "inline-block text-xs text-gray-500 font-bold" %>
    <% end %>
    <% end %>
  </div>
</article>
