<article id="<%= dom_id entry %>" class="flex" data-controller="scores" data-scores-id-value="<%=entry.id%>">
  <div class="flex-none text-center bg-gray-50 w-10 pt-3">

    <%= link_to '/', class: 'block', remote: true, 'data-action': 'click->scores#up' do %>
      &uarr;
    <% end %>

    <div data-scores-target="sum">
      <%= entry.score %>
    </div>

    <%= link_to '/', class: 'block', remote: true, 'data-action': 'click->scores#down' do %>
      &darr;
    <% end %>
  </div>

  <div class="flex-auto p-6">
    <div class="text-xs">
      <%= entry.created_at %>
    </div>

    <p class="my-5">
      <%= entry.title %>
    </p>

    <p class="my-5">
      <%= entry.content %>
    </p>

    <p class="my-5">
      <%= entry.tag %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show this entry", entry, class: "inline-block text-xs mr-2" %>
      <%= link_to 'Edit this entry', edit_entry_path(entry), class: "inline-block text-xs" %>
    <% end %>
  </div>
</article>
